:root{
	--color-main-light: #FFFFF4;
	--color-main-medium: #FCE196;
	--color-main-dark: #F2CA52;

	--color-neutral-light: #F9FAFB;
	--color-neutral-medium: #A5A5A5;
	--color-neutral-dark: #0A0000;

	--font-cur:'Gamja Flower', cursive;
	--font-sans:'Varela Round', sans-serif;;

	--header-height: 4rem;
}

*{
	box-sizing: border-box;
}

/*CORE ELEMENTS*/

body{
	font-family: var(--font-sans);
	color: var(--color-neutral-dark);
	background-color: var(--color-main-light);
}

.welcome{
	text-align: center;
}

h2{
	font-family: var(--font-cur);
	text-align: center;
}

a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}


#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 15px;
  transform:scale(1.5,1.5) ;
}


/*LAYOUT CLASSES*/
.hidden{display: none;}

.display-flex{display: flex;}
.display-inline-flex{display: inline-flex;}
.display-block{display: block;}
.display-inline-block{display: inline-block;}

.flex-stretch{flex: 1 1 auto;}
.flex-none{flex:none;}

.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}
.flex-vertical{flex-direction: column;}

.position-relative { position:relative; }
.position-absolute { position:absolute; }

.overscroll{overflow: auto;}
.overscroll-x{overflow: auto;}
.overscroll-y{overflow: auto;}

.fill-parent {
   width: 100%;
   height: 100%;
}



.centered{text-align: center;}
.small{font-size: 0.8em;}

.padding-sm { padding:0.5em;}
.padding-md { padding:1em; }
.padding-lg { padding:2em; }

/* SIGN IN/UP LOGOUT */
.btn-logout{
	background-color: var(--color-neutral-light);
}

.text-signup{
	display: inline-block;
}
.btn-signup{
	text-decoration: underline;
	font-weight: 700;
}

#page-signin,
#page-signup{
	background-color: var(--color-main-medium);
}


/*PAGE ELEMENTS*/


.ui-mobile .ui-page-active{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

[data-role="main"]{
	flex: 1 1 100%;
	position: relative;
	overflow: hidden;
}


[data-role="header"]{
	flex: none;
	height: var(--header-height);
	line-height: var(--header-height);
	background-color: var(--color-neutral-dark);
	color: var(--color-main-dark);
	border-width: 0;
	position: relative;
	overflow: hidden;
}
[data-role="footer"]{
	flex: none;
	height: var(--header-height);
	line-height: var(--header-height);
	background-color: var(--color-neutral-dark);
	color: var(--color-main-light);
	border-width: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}





[data-role="header"] ul,
[data-role="footer"] ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}


[data-role="footer"] li {
	flex: 1 1 auto;
	text-align: center;
}

[data-role="header"] svg{
	fill: var(--color-main-dark);
   vertical-align: middle;
}

[data-role="footer"] a,
[data-role="header"] a {
	display: block;
}

[data-role="header"] a {
	padding: 0 1em;
}

.ui-header .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	font-size: 1rem;
	padding: 0;
}


#page-map .map img{
	width: 100%;
}


.icon-place{

	transform: scale(1.5,1.5);
	fill: #D90B1C;
}


#page-pets li{
	list-style-type: none;
	text-decoration: none;
}


#page-animal-edit,
#page-animal-add{
	background-color: var(--color-main-medium);
}

/* FORM ELEMENTS */

.form{}
.form-control{
	margin: 1em 0;
}
.form-input{
	width: 100%;
    display: inline-block;
    background-color: var(--color-main-light);
    border: 1px solid var(--color-main-light);
    margin: 0;
    padding: 0.8em 1em;
    border-radius: 0.2em;
    outline: 0;
    font: inherit;
}

.form .form-button,
.form-button{
	width: 100%;
  display: inline-block;
  border-width: 0;
  color: var(--color-main-medium);
  background-color: var(--color-neutral-dark);
  margin-top: 32px;

  padding: 0.8em 1em;
  border-radius: 10em;
  outline: 0;
  font: inherit;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.ui-mobile .form-label{
	font-size: 0.8em;
	color: var(--color-neutral-dark);
	margin: 1rem 0 0 ;
}


.map{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../lib/img/map.jpg);
	background-size: cover;
	background-position: center;

}

/* Floater */

.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }

/* Circle Buttom */
.btn-circle{
	display: inline-block;
	background-color: var(--color-neutral-dark);
	color: var(--color-main-dark);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
  font-size: 2.4rem;
  border-radius: 2em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);

}



/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}




/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 10px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    padding: 10px;
    background-color: var(--color-neutral-light);
}
.modal-head{
    background-color: var(--color-neutral-light);
    line-height: 4rem;
    padding: 0 1em;
}

.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 2em;
}

.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}



/* Modal Drawer */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 30vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}

.modal-drawer.basin {
   height: 30vh;
   padding: 1em;
   box-shadow: none;
}
.modal-drawer.basin .modal-body {
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   border-radius: 1em;
}

.modal-drawer .modal-body {
   flex: 1 1 100%;
}






.icon{
	fill: var(--color-main-dark);
	width: 1em;
	height: 1em;
	display: inline-block;
}

.nav-icon {
   display: block;
   line-height: 2rem;
   font-size: 1.5rem;
}

.nav-icon .icon {
   vertical-align: middle;
}

.nav-icon-set li.active{
   box-shadow: inset 0 -2px var(--color-main-dark);

}


.nav-icon-label {
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
}

#footer-template{
	position: relative;
}

.nav-icon-set{
	height: 100%;
	color: var(--color-main-dark);
	position: absolute;
	margin: 0;
	top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* PETS LIST  */

.animallist {
   list-style-type: none;
   margin: 0;
   padding: 1em;
}
.animallist-item~.animallist-item {
   margin-top: 1em;
}
.animallist-item {
	background-color: var(--color-main-light);
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
}
.animallist-item-description {
}
.animallist-item-body{
	position: relative;
	padding-left: 2em;
	vertical-align: middle;
}
.text-box{
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);	  


}
.animallist-item-name {
   font-size: 1.2em;
}
.animallist-item-type,
.animallist-item-breed {
   font-size: 0.9em;
}

.choosepetslist{
	padding: 1em;
	text-align: center;
	border-radius: 1em;

}
.choosepetslist img{
	border-radius: 4px;
}





/* PET PROFILE PAGE */

.animal-profile-top {
   flex: none;
   height: 40vh;
}
.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}


.floating-header {
   position: absolute;
   background-color: var(--color-neutral-dark);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}

.nav-tab{
	color: var(--color-neutral-dark);
	background-color: var(--color-main-medium);
   list-style-type: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   display: flex;
}

.nav-tab li {
   flex: 1 1 auto;
   padding: 0 1em;
   text-align: center;
   line-height: var(--header-height);
}

.nav-tab li:hover{
  background-color: var(--color-main-dark);
}



/* USER PROFILE PAGE */

#recent-add-modal .modal-body svg{
	vertical-align: middle;
}












